*{
    padding:0;
    margin: 0;
}
body{
    background-color: rgb(179, 179, 255);
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.card{
    width: 400px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0  10px 25px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
} 

        .card img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 15px;
        }

        .card h2 {
            margin: 5px 0;
            color: #333;
        }

        .card h4 {
            margin: 5px 0 15px;
            color: #777;
            font-weight: normal;
        }

        .info {
            font-size: 14px;
            color: #555;
            line-height: 1.8;
        }

        .info span {
            font-weight: bold;
        }
    